*{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}

.container{
	width: 94%;
	margin: 0 auto;
}



/* CABEÇALHO */
.cabeçalho{
	position: fixed;
	width: 100%;
	padding: 5px 0;
	background-color: white;
}

.cabeçalho .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.menu-nav a{
	margin-left: 20px;
	text-decoration: none;
	color: black;
}

.menu-nav a:hover{
	color: #7197db;
}

.menu-nav-login{
	padding: 5px 15px;
	border: 1px solid #7197db;
	background-color: #7197db;
	border-radius: 10px;
}

.menu-nav-login span{
	color: white;
}


/* CONTEUDO PRINCIPAL */
/* BANNER */
main{
	padding-top: 60px;
}

.banner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.descritivo-banner{
	width: 50%;
	text-align: justify;
	margin-left: 3%;
}

.descritivo-banner > h2{
	font-size: 48px;
	font-weight: bold;
}

.descritivo-banner h2 > span{
	color: #7197db;
}

.descritivo-banner > p{
	margin: 15px 0;
	font-size: 18px;
}

.bt-saiba-mais{
	padding-top: 20px;
}

.bt-saiba-mais a{
	padding: 10px 20px;
	background-color: #7197db;
	color: white;
	border-radius: 15px;
	text-decoration: none;
}

/* OFERTAS DA SEMANA */
.ofertas{margin-top: 50px;}

.ofertas-semana{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.ofertas-semana-quadro{
	width: 15%;
	border: 1px solid #7e7e7e;
	border-radius: 15px;
	padding: 1% 2%;
	cursor: pointer;
}

.imagem-ofertas{
	width: 90%;
	margin: 20px 5%;
}

.preço-ofertas{
	font-size: 19px;
	margin-bottom: 5px;
}

.preço-ofertas span{
	font-size: 14px;
}

/* CATALOGO */
.catalogo{
	margin-top: 80px;
	background-color: #7197db;
	padding: 20px 0;
	color: white;
}

.catalogo-quadro{
	margin-top: -20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
}

.catalogo-item{
	width: 19%;
	margin: 40px 0;
	padding: 2%;
}

.catalogo-item p{
	margin: 10px 0;
}

.imagem-catalogo{
	width: 90%;
}